body {
                                                    margin: 10%;
                                                    }
                                                    #slider {
                                                    position: relative;
                                                    width: 500px;
                                                    height: 265px;
                                                    overflow: hidden;
                                                    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
                                                    }
